{% extends 'base.html' %}

{% block title %}
Pets
{% endblock %}


{% block content %}
<h1>Pets</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-messages">
    {% for message in messages %}
    <div class="flash-message">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

{% for pet in pets %}
<div>
    <h3>{{ pet.name }}</h3>
    <img src="{{ pet.photo_url }}">
    {% if pet.available == True %}
    <b>Available</b>
    {% endif %}
</div>

{% endfor %}

<a href="/add"><button>Add a new pet</button></a>


{% endblock %}